// 颜色定义规范
$color-background:#fee5e6;
$color-background-d:rgba(246, 205, 211, 0.5);
$color-highlight-background:rgba(246, 205, 211, 1);
$color-dialog-background: rgb(227, 156, 172);
$color-theme: #fc0059;
//$color-theme-d: rgba(255, 205, 49, 0.5);
$color-theme-d: rgba(207, 82, 132, 0.6);
$color-sub-theme: #fc295c;
$color-text: rgb(170, 6, 60);
// $color-text-d: rgba(170, 6, 60, 0.8);
$color-text-d: rgba(170, 6, 60, 0.6);
// $color-text-l: rgba(170, 6, 60, 0.5);
$color-text-l: rgba(170, 6, 60, 0.5);
$color-text-ll: rgba(170, 6, 60, 0.8);

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;